<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EBAY's home page</title>
</head>
<body>
<h1>Welcome to EBAY's home page!</h1>
<h2>We have everything you need!!</h2>
<img src="https://www.tuv.com/content-media-files/master-content/services/products/0169-tuv-rheinland-recreation-and-sports-equipment/tuv-rheinland-recreation-and-sports-equipment.jpg" alt="Sports Equipment" width="400" height="300">
<h3> Basketballs: $5</h3>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYpdHihiO4h7WTCFHUMDZot0VOonUmdaonJg&usqp=CAU" alt= "Basketball" width="300" height="200">
<a href="/cart"> CART </a>
</body>
</html>